.wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
}

.wrapper-logo {
    font-size: 15px;
    text-decoration: solid;
    color: #000000;
    font-weight: bold;
    padding: 0 5px;
}